/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS */
@font-face {
  font-family: "Vazir";
  src: url(../fonts/Vazir.ttf) format(truetype);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vazir", sans-serif;
  font-size: 16px;
}

/* HELPER CLASSES */
.box-shadow-foucus:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*===================== HEADER  =====================*/
.header {
  background-image: url(../images/header/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tutorial-course-button i:last-child {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.rotate-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.course-item-hover {
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.course-item-hover:hover {
  background-color: lightgray;
}
/*===================== MAIN  =====================*/

/* SERVICES SECTION  */
.service-box {
  -webkit-box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
          box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  border-bottom: 4px solid;
  border-radius: 5px;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.service-box:hover,
.service-box:hover a {
  color: #fff;
}

.service-box.border-primary:hover {
  background-color: #0d6efd;
}

.service-box.border-success:hover {
  background-color: #198754;
}

.service-box.border-warning:hover {
  background-color: #ffc516;
}

/* PRICING SECTION  */
.price-box {
  -webkit-box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
          box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

/*================================= FOOTER =================================*/
.footer {
  background-color: #f2f5fc;
}

/*============================== MEDIA QWERIES ==============================*/

@media screen and (min-width: 992px) {
  .positon-lg-absolute {
    position: absolute;
  }
}